#ifndef {CLASS_NAME}_HPP
#define {CLASS_NAME}_HPP

#include <Godot.hpp>
#include <Node.hpp>

namespace godot{{
class {CLASS_NAME} : public Node {{
    GODOT_CLASS({CLASS_NAME}, Node)

public:
    static void _register_methods();

    void _init();

    void _process(float delta);
}};
}}

#endif /* !{CLASS_NAME}_HPP */